<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.css" type="text/css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>

    <title>Pay My Buddy</title>
</head>
<body>
<div class="logBox">
    <form action="#" th:action="@{/addUser}" method="post" th:object="${userDto}">
<fieldset>
    <div class="logBox1">
        <button type="button" class="col-gd-6 btn btn-success">Pay My Buddy</button>
        <br>
        <h2>Registration</h2>
    </div>
<br>
<div class="logBox1">
    <input type="text" class="form-control" placeholder="First name" th:field="*{firstName}" required
           autofocus="autofocus">
    <br>
    <input type="text" class="form-control" placeholder="Last name" th:field="*{lastName}" required
           autofocus="autofocus">
    <br>
    <input type="email" class="form-control" placeholder="Email" th:field="*{email}" required autofocus="autofocus">
    <br>
    <input type="text" class="form-control" placeholder="Phone" th:field="*{phone}" required autofocus="autofocus">
    <br>
<!--    <input type="date" class="form-control" placeholder="Birth date" th:field="*{birthDate}" required-->
<!--           autofocus="autofocus">-->
    <br>
    <input type="password" class="form-control" placeholder="Password" th:field="*{password}" required
           autofocus="autofocus">
    <br>
    <div class="form-group">
        <a href="./home" class="btn btn-secondary col-5" role="button" aria-pressed="true">Cancel</a>
        <button type="submit" class="col-5 btn btn-primary">Register</button>
    </div>
</div>
</fieldset>
</form>

</div>

</body>
</html>